* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4EA0FF;
    background-image: url('./img/pattern.png');
    background-size: contain;
    background-repeat: repeat-x;

}

.logo-container {
    width: 20%;
}

.logo-header {
    width: 200px;
    padding: 25px 0 10px 10px;
}

/* Section Title */

main {
    padding-left: 10px;
}

.title-container {
    padding: 15px 0;
}

h1 {
    font-size: 38px;
}

.author-text {
    font-size: 18px;
    color: #808080;
}

.author {
    color: #20A9E5; 
}

.date-text {
    font-size: 12px;
    color: #808080;

}

.photo-container {
    display: flex;
    flex-direction: column;
}

.first-image-article {
    width: 60%;
    padding-bottom: 5px;
}

.second-image-article {
    width: 50%;
}

.credits-photo-text {
    font-size: 12px;
}


/* Section Content Article */


.text-article {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-text-article {
    padding-left: 15px;
    padding-bottom: 20px;    
}

.yellow {
    background-color: yellow;
}

table {
    width: 100%;
    border-spacing: 0;
}

.header-table {
    background-color: #20A9E5;
}

th {
    text-align: left;
    color: #fff;
}

.small-column {
    width: 20%;
}

.large-column {
    width: 50%;
}

.content-table {
    background-color: #B1E5F2;
}

.small-content-table {
    padding-top: 15px;
}